<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dotvoid.drona">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="Find Tutor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".number_register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".number_confirm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpDone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login_with_facebook"
            android:screenOrientation="portrait" />
        <activity android:name=".Skill_Chooser" />
        <activity android:name=".Teacher" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>